* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}
@font-face {
  font-family: "Barlow", sans-serif;
  font-family: "Montserrat", sans-serif;
  src: url(/Barlow-Regular.ttf);
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}
.nav {
  padding: 24px;
}

.nav__lista {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  list-style: none;
  margin-left: 16px;
  margin-right: 16px;
}

.nav__link {
  color: whitesmoke;
  text-decoration: none;
}

.nav__logo {
  width: 100px;
  height: 30px;
  margin: 8px;
}

.jam-close-circle-f {
  text-decoration: none;
  color: whitesmoke;
  font-size: 35px;
}
.header__burguer {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.904);
  font-size: 35px;
}

main {
  background-color: rgba(218, 218, 218, 0.514);
}

.banner__main {
  background-image: url(/img/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
  padding: 18px;
  color: rgb(160, 160, 160);
  display: flex;
  justify-content: center;
}
.info__resalta {
  color: black;
  font-size: 21px;
  text-decoration: none;
}
.info__titulo {
  padding-top: 28px;
  font-size: 28px;
  text-align: center;
}
.info__parrafo {
  font-size: 20px;
  width: 800px;
  text-align: center;
}

.section__1 {
  min-height: 1000px;
  width: auto;
  background-image: url(/img/fondo.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top;

  background-attachment: fixed;
}
.section__titulo {
  font-size: 85px;
}
.section__subtitulo {
  font-size: 35px;
}
.section__parrafo {
  margin-top: 16px;
  font-size: 18px;
}
.section__button {
  width: 250px;
  height: 50px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgba(245, 245, 245, 0.726);
}
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 500px 250px 350px;
  grid-template-areas:
    "ele1 ele2 ele3 ele4"
    "ele5 ele5 ele5 ele5"
    "ele5 ele5 ele5 ele5";
}
.grid__hijo {
  text-align: center;

  color: whitesmoke;
  min-height: 350px;
  width: 100%;
}
.grid__hijo1 {
  grid-area: ele1;
}
.grid__hijo2 {
  grid-area: ele2;
}
.grid__hijo3 {
  grid-area: ele3;
}
.grid__hijo4 {
  grid-area: ele4;
}
.grid__hijo5 {
  grid-area: ele5;
}

.cont__titulo {
  font-size: 28px;
  text-align: center;
  padding-bottom: 18px;
}

.cont__card {
  margin: 1rem;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
}
.cont__card__titulos {
  font-size: 20px;
  text-align: center;
}
.cont__img {
  width: 100%;
  height: 70%;
}
.cont_parrafo {
  font-size: 18px;
  text-align: center;
  padding: 8px;
}

.cont__cardiff {
  width: 100%;
  height: 100%;
}
.cont__cardiff img {
  width: 98%;
  height: 100%;
  border-radius: 10px;
}

video {
  width: 100%;
}

footer {
  padding: 4px 16px 16px;
}
.pie__container {
  color: rgb(90, 90, 90);
  border-top: 1px solid rgb(199, 199, 199);
  border-width: 1.5px;

  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.pie__column1 {
  width: 325px;
}

.pie__titulos {
  text-align: center;
}
.pie__derechos {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pie__derechos__parrafo {
  padding-top: 3rem;

  color: #8a8a8a;
}
.pie__nombre {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
/* --------------Contacto------------ */
.form {
  max-width: 1000px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: rgba(228, 228, 228, 0.616);
  border-radius: 16px;
  margin-bottom: 2rem;
}

.form__cont {
  padding: 1rem;
  margin-right: 1rem;
}

.form form input#Nombre,
.form form input#Numero,
.form form input#Mail,
.form form input#boton,
.form form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  background: none;
  border-bottom: 1px solid rgba(2, 48, 175, 0.692);
}
.form form input#boton {
  background-color: rgb(0, 153, 255);
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
}

.form__val {
  padding: 1rem;
  font-size: 25px;
}

.form__link {
  padding: 1rem;
}
.form__enlace {
  text-decoration: none;
  color: rgb(2, 48, 175);
}
.contacto {
  padding: 2rem;
  background-image: url(/img/fondo\ contacto.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto__hero {
  width: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto__titulo {
  font-size: 50px;
}
.contacto__parrafo {
  font-size: 27px;
}
.contacto__parrafo2 {
  font-size: 25px;
  padding-top: 2rem;
}
/* ---------------------Quienes somos------------------ */
.qs {
  padding: 2rem;
  background-image: url(/img/fondo-quienesomos.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto__titulo2 {
  font-size: 30px;
}
.contacto__titulo3 {
  text-align: center;
}
.contacto__parrafo3 {
  padding-top: 2rem;
  width: 650px;
  font-size: 20px;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(122, 122, 122, 0.479);
}
.contacto__parrafo4 {
  padding-top: 2rem;
  width: 650px;
  font-size: 20px;
  padding-bottom: 2rem;
}
.contacto__parrafo5 {
  padding-top: 2rem;
  width: 300px;

  font-size: 20px;
  padding-bottom: 2rem;
}

.contacto__img {
  padding: 3rem;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.contacto__img2 {
  margin-top: 2rem;
  margin-left: 85px;
  height: 100px;
  width: 100px;
}
.contacto__flex {
  margin-right: 150px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contacto__flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto__hero2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contacto__container {
  margin-left: 100px;
  margin-right: 100px;
}
/* ----------------experiencias------------ */
.gridF {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.gridE {
  width: 80%;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    "elE1 elE1 elE2 elE2"
    "elE3 elE3 elE5 elE5"
    ". elE4 elE4 .";
  column-gap: 10px;
  row-gap: 10px;
}
.gridE__hijo {
  text-align: center;
  color: black;
  min-height: 350px;
  width: 100%;
  position: relative;
}
.gridE__hijo1 {
  grid-area: elE1;
}
.gridE__hijo2 {
  grid-area: elE2;
}
.gridE__hijo3 {
  grid-area: elE3;
}
.gridE__hijo4 {
  grid-area: elE4;
}
.gridE__hijo5 {
  grid-area: elE5;
}

.sectE__fondo {
  background-image: url(/img/Cloudy.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sectE {
  margin-top: 32px;
  background-color: rgba(104, 104, 104, 0.144);
  width: 100%;

  display: flex;
  justify-content: center;
}

.sectE__titulo {
  margin-top: 2rem;
  height: 50px;

  font-size: 32px;
}
.sectE__parrafo {
  margin: 1rem;
  padding-left: 1rem;

  width: 350px;
  font-size: 20px;
}
.cardE {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.cardE__conteiner {
  margin: 1.5rem;
  width: 550px;
  height: 300px;
  position: relative;
}
.cardE__img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gridE__hijo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardE__text {
  position: absolute;
  text-align: center;
  bottom: 45%;
  right: 100;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  border-radius: 2px;
  padding: 8px;
}
.vermas__titulo {
  text-align: center;
  padding: 2rem;
}
.color__span {
  color: rgb(0, 153, 255);
}
/* ------------------Destinos--------------- */
.sectD {
  width: 100%;
  height: 100%;

  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectD__contenedor {
  width: 100%;
  height: auto;
  position: relative;
}
video {
  width: 100%;
}
.sectD__titulo {
  font-size: 80px;
  color: whitesmoke;
  z-index: 80;
  margin-bottom: 30px;
  background-color: #0000007a;
  border-radius: 5px;
  padding: 1rem;
}
.sectD__parrafo {
  font-size: 30px;
  color: whitesmoke;
}
.secMain {
  padding-bottom: 2rem;
  width: 100%;
  min-height: 300px;

  text-align: center;
}
.sectMain__titulo {
  padding: 2rem;
  font-size: 50px;
}

.sectMain__flex {
  padding-bottom: 3rem;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.sectMain__card {
  margin-top: 2rem;
  background-color: rgb(221, 221, 221);
  width: 500px;
  border-radius: 8px;
}
.sectMain__img {
  width: 500px;
  height: 300px;
}
.sectMain__parrafo {
  padding: 1rem;
}
.sectMain__subtitulo {
  padding: 1rem;
}
.maravillas {
  padding-top: 2rem;
  width: 100%;
  min-height: 500px;
  background-color: red;
  background-image: url(/img/glaciar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maravillas__titulo {
  font-size: 50px;
  color: whitesmoke;
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: #0000007a;
}

.header__burguer {
  display: none;
}
.nav__cierre {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
  .nav {
    padding: 0px;
  }
  .section__titulo {
    font-size: 60px;
  }
  .section__subtitulo {
    font-size: 35px;
  }
  .section__parrafo {
    font-size: 16px;
    width: 80vw;
  }
  .section__button {
    font-size: 16px;
  }
  .info__titulo {
    font-size: 24px;
  }
  .info__parrafo {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  .info__resalta {
    font-size: 16px;
  }
  .cont__titulo {
    font-size: 24px;
  }
  .cont_parrafo {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    height: 100%;
  }
  .cont__card__titulos {
    font-size: 16px;
  }
  .cont__card {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  .pie__container {
    font-size: 14px;
  }
  .cont__img {
    height: 65%;
  }
  .grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px 200px 200px;
    grid-template-areas:
      "ele1  ele2 "
      "ele3  ele4 "
      "ele5  ele5 "
      "ele5  ele5 ";
    justify-content: center;

    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .grid__hijo {
    text-align: center;
    color: whitesmoke;
    min-height: 200px;
    width: 100%;
  }
  .grid__hijo1 {
    grid-area: ele1;
  }
  .grid__hijo2 {
    grid-area: ele2;
  }
  .grid__hijo3 {
    grid-area: ele3;
  }
  .grid__hijo4 {
    grid-area: ele4;
  }
  .grid__hijo5 {
    grid-area: ele5;
  }

  /* --------------------exp-------------------- */
  .sectE__titulo {
    font-size: 25px;
  }
  .sectE__parrafo {
    font-size: 18px;
    width: 25vw;
  }

  .cardE__conteiner {
    width: 400px;
    height: 300px;
  }
  .cardE__img {
    width: 100%;
  }
  .cardE {
    width: 100%;
  }
  .cardE__text {
    font-size: 25px;
  }

  .vermas__titulo {
    font-size: 23px;
  }
  /* --------------------Destinos-------------------- */
  .sectD__titulo {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
  }
  .sectD__parrafo {
    font-size: 25px;
    margin-top: 30px;
  }

  .sectMain__titulo {
    font-size: 25px;
    padding: 10px 10px 10px 0px;
  }

  .sectMain__card {
    width: 450px;
  }
  .sectMain__img {
    width: 100%;
    height: 300px;
  }
  .sectMain__subtitulo {
    font-size: 20px;
    padding: 8px;
  }
  .sectMain__parrafo {
    font-size: 18px;
    padding: 8px;
  }
  .maravillas__titulo {
    font-size: 40px;
  }
  .maravillas {
    min-height: 450px;
  }
  /* ----------------------------quienes somos---------------------- */
  .contacto__titulo {
    font-size: 35px;
  }
  .contacto__parrafo3 {
    font-size: 18px;
    width: 70vw;
    border: none;
  }
  .contacto__parrafo3v {
    border-bottom: 1px solid rgba(122, 122, 122, 0.479);
  }
  .contacto__titulo2 {
    font-size: 26px;
  }
  .contacto__parrafo4 {
    font-size: 18px;
    width: 70vw;
  }
  .contacto__parrafo5 {
    font-size: 18px;
    width: 70vw;
    text-align: center;
  }
  .contacto__titulo3 {
    font-size: 26px;
    border-top: 1px solid rgba(122, 122, 122, 0.479);
  }
  .contacto__hero {
    text-align: center;
  }

  .contacto__img {
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100px;
  }
  .contacto__flex {
    margin: 0px;
  }
  .contacto__img2 {
    padding: 1rem;
    height: 58px;
    width: 58px;
    margin-top: 0px;
    margin-left: 42%;
  }
  /* -----------------------contacto-------------------------- */
  .contacto__parrafo {
    font-size: 20px;
  }
  .contacto__parrafo2 {
    font-size: 18px;
  }

  .gridE {
    width: 80%;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25%;
    grid-template-areas:
      "elE1 elE1 elE2 elE2"
      "elE3 elE3 elE5 elE5"
      ". elE4 elE4 .";
    column-gap: 10px;
    row-gap: 10px;
  }
  .gridE__hijo img {
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .nav__lista {
    flex-direction: column;
    margin-top: 16px;
    height: 80%;
  }
  .header {
    flex-direction: row;
  }
  .nav {
    display: none;
  }

  .cont__img {
    width: 100%;
  }
  .header__burguer {
    display: flex;
  }
  .section__titulo {
    font-size: 40px;
  }
  .section__subtitulo {
    font-size: 25px;
  }
  .section__parrafo {
    font-size: 12px;
    width: 80vw;
  }
  .nav__cierre {
    display: flex;
  }
  .pie__derechos__parrafo {
    font-size: 12px;
  }
  .pie__nombre {
    font-size: 14px;
  }

  .section__titulo {
    font-size: 40px;
  }
  .section__subtitulo {
    font-size: 25px;
  }
  .section__parrafo {
    font-size: 14px;
    text-align: center;
  }
  .section__button {
    font-size: 14px;
  }
  .info__titulo {
    font-size: 20px;
  }
  .info__parrafo {
    font-size: 14px;
  }
  .info__resalta {
    font-size: 14px;
  }
  .cont__titulo {
    font-size: 20px;
  }
  .cont_parrafo {
    font-size: 12px;
  }
  .cont__card__titulos {
    font-size: 14px;
  }
  .pie__container {
    font-size: 12px;
  }
  .cont__card {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 90%;
  }

  /* ---------------menu burguer---------------- */
  #burguer {
    display: block;
    background-color: rgba(0, 0, 0, 0.973);
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 1s;
  }
  #burguer:target {
    left: 0;
  }
  /* --------------------exp-------------------- */
  .sectE__titulo {
    font-size: 20px;
  }
  .sectE__parrafo {
    font-size: 14px;
    width: 25vh;
  }

  .cardE__conteiner {
    width: 300px;
    height: 200px;
  }
  .cardE__img {
    width: 100%;
  }
  .cardE {
    width: 100%;
  }
  .cardE__text {
    font-size: 20px;
  }

  .vermas__titulo {
    font-size: 18px;
  }
  /* --------------------Destinos-------------------- */
  .sectD__titulo {
    font-size: 35px;
    padding: 0px;
    margin: 0px;
  }
  .sectD__parrafo {
    font-size: 18px;
    margin-top: 10px;
  }

  .sectMain__titulo {
    font-size: 20px;
    padding: 10px 10px 10px 0px;
  }

  .sectMain__card {
    width: 300px;
  }
  .sectMain__img {
    width: 100%;
    height: 200px;
  }
  .sectMain__subtitulo {
    font-size: 18px;
    padding: 8px;
  }
  .sectMain__parrafo {
    font-size: 12px;
    padding: 8px;
  }
  .maravillas__titulo {
    font-size: 35px;
  }
  .maravillas {
    min-height: 300px;
  }
  /* ----------------------------quienes somos---------------------- */
  .contacto__titulo {
    font-size: 30px;
  }
  .contacto__parrafo3 {
    font-size: 16px;
    width: 70vw;
    border: none;
  }
  .contacto__parrafo3v {
    border-bottom: 1px solid rgba(122, 122, 122, 0.479);
  }
  .contacto__titulo2 {
    font-size: 20px;
  }
  .contacto__parrafo4 {
    font-size: 16px;
    width: 70vw;
  }
  .contacto__parrafo5 {
    font-size: 16px;
    width: 70vw;
    text-align: center;
  }
  .contacto__titulo3 {
    font-size: 20px;
    border-top: 1px solid rgba(122, 122, 122, 0.479);
  }
  .contacto__hero {
    text-align: center;
  }

  .contacto__img {
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100px;
  }
  .contacto__flex {
    margin: 0px;
  }
  .contacto__img2 {
    padding: 1rem;
    height: 30px;
    width: 30px;
    margin-top: 0px;
    margin-left: 38%;
  }

  /* -----------------------contacto-------------------------- */
  .contacto__parrafo {
    font-size: 18px;
  }
  .contacto__parrafo2 {
    font-size: 16px;
  }

  /* --------------------grid-------------------------- */
  .grid {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 350px 350px 350px 350px 200px;
    grid-template-areas:
      "ele1   "
      "ele2   "
      "ele3  "
      "ele4  "
      "ele5  ";

    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .grid__hijo {
    text-align: center;
    color: whitesmoke;
    min-height: 200px;
    width: 100%;
  }
  .grid__hijo1 {
    grid-area: ele1;
  }
  .grid__hijo2 {
    grid-area: ele2;
  }
  .grid__hijo3 {
    grid-area: ele3;
  }
  .grid__hijo4 {
    grid-area: ele4;
  }
  .grid__hijo5 {
    grid-area: ele5;
  }

  .gridE {
    width: 80%;

    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    grid-template-areas:
      "elE1 "
      "elE2  "
      "elE3"
      "elE4"
      "elE5";

    row-gap: 10px;
  }
}
