.sectD {
    width: 100%;
    height: 100%;

    position: absolute;
    text-align: center;
    @include FlexCenter(column, center, center);
&__contenedor {
            width: 100%;
            height: auto;
            position: relative;
      
                min-height: 1000px;
                width: auto;
                background-image: url(../img/fondo-destino.jpg);
                @include FlexCenter(column, center, center);
                background-repeat: map-get($propbackground, brepeat);
                background-position: top;
            
                background-attachment: fixed;

   
        }


              &__titulo {
                    font-size: 80px;
                    color: whitesmoke;
                    z-index: 80;
                    margin-bottom: 30px;
                    background-color: #0000007a;
                    border-radius: 5px;
                    padding: 1rem;
                }
                              &__parrafo {
                                    font-size: 30px;
                                    color: whitesmoke;
                                }
                                
}


.banner__destino{
        background-image: url(../img/banner-destino1.svg);
            background-position: map-get($propbackground, bposition);
            background-repeat: map-get($propbackground, brepeat);
            background-size: map-get($propbackground, bsize);
}
.banner__destino2 {
    background-image: url(../img/destinos2.svg);
    background-position: map-get($propbackground, bposition);
    background-repeat: map-get($propbackground, brepeat);
    background-size: map-get($propbackground, bsize);
}












.secMain {
   
    width: 100%;
    min-height: 300px;

    text-align: center;
}

.sectMain__titulo {
    padding: 2rem;
    font-size: 50px;
}

.sectMain__flex {
    padding-bottom: 3rem;
    min-height: 500px;
    width: 100%;
    @include FlexCenter(row, space-evenly, center);

    flex-wrap: wrap;
}

.sectMain__card {
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    width: 500px;
    border-radius: 8px;
   
    
}

.sectMain__img {
    width: 100%;
    height: 100%;
}

.sectMain__parrafo {
    padding: 1rem;
}

.sectMain__subtitulo {
    padding: 1rem;
}

.card__destino {
    width: 100%;
}

.pagination__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maravillas {
    padding-top: 2rem;
    width: 100%;
    min-height: 500px;

    background-image: url(../img/glaciar.jpg);
    background-position: map-get($propbackground, bposition);
    background-size: map-get($propbackground, bsize);
    background-repeat:map-get($propbackground, brepeat);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maravillas__titulo {
    font-size: 50px;
    color: whitesmoke;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #0000007a;
}
.background__carousel{
    background-image: url(../../img/carousel-destinos.svg);
    background-position: map-get($propbackground, bposition);
        background-size: map-get($propbackground, bsize);
        background-repeat: map-get($propbackground, brepeat);
}

.pagination__flex{
    padding-top: 2rem;
}
.header__burguer {
    display: none;
}

.nav__cierre {
    display: none;
}
.vermas__titulo{
    margin-bottom: 0;
}

.animacion__card {
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    width: 500px;
    border-radius: 8px;
   

    animation-name: rotacion;
    animation-duration: 1s;
    animation-delay: 2s;
    /* transition: all;
  transition-duration: 1s; */
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);

    }
    75% {
         transform: rotate(0deg);
        }
}