footer {
    padding: 4px 16px 16px;
}

.pie__container {
    color: rgb(90, 90, 90);
    border-top: 1px solid rgb(199, 199, 199);
    border-width: 1.5px;

    

    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.jam-instagram{
    text-decoration: none;
        color: rgba(17, 7, 1, 0.733);
        font-size: 35px;
}
.jam-twitter {
    text-decoration: none;
    color: rgba(47, 160, 252, 0.904);
    font-size: 35px;
}
.jam-facebook {
    text-decoration: none;
    border-bottom: none;
    color: rgba(20, 23, 241, 0.904);
    font-size: 35px;
}
.spanfooter{
    text-decoration: none;
}

.pie__titulos {
    text-align: center;
}

.pie__derechos {
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.pie__derechos__parrafo {
    padding-top: 3rem;

    color: #8a8a8a;
}

.pie__nombre {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.pie__estilos{
    text-decoration: none;
    color: $color-principal;
}