.qs {
    padding: 2rem;
    background-image: url(../img/fondo-quienesomos.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto__titulo2 {
    font-size: 30px;
}

.contacto__titulo3 {
    text-align: center;
}

.contacto__parrafo3 {
    padding-top: 2rem;
    width: 650px;
    font-size: 20px;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(122, 122, 122, 0.479);
}

.contacto__parrafo4 {
    padding-top: 2rem;
    width: 650px;
    font-size: 20px;
    padding-bottom: 2rem;
}

.contacto__parrafo5 {
    padding-top: 2rem;
    width: 300px;

    font-size: 20px;
    padding-bottom: 2rem;
}

.contacto__imgn {
    padding: 8px;

    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.contacto__img2 {
    margin-top: 2rem;
    margin-left: 85px;
    height: 100px;
    width: 100px;
}

.contacto__flex {
    margin-right: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacto__flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrado {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.contacto__hero2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contacto__container {
    margin-left: 100px;
    margin-right: 100px;
}